.initial-title, .official-title{
  font-weight: bold;
}

.official-card{
  color: #225FBA;
  text-align: center;
}

.initial-card, .unofficial-card{
  text-align: center;
}

.sport-name{
  color: #006D75;
}

.unofficial-title{
  text-align: left;
  color: #225FBA;
  font-weight: bold;
}


.profile-sport-list-item{
  cursor: default !important;
  color: black !important;
}

.unofficial-explanation{
  border-bottom: 1px dotted #225FBA;
  padding-bottom: 1px !important;
}


.athlete-details{
  
  color: #225FBA !important;
}

.rating{
  color: #EA7200;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color: rgb(245,245,245,.7);
}

.table-striped tbody tr:nth-of-type(odd):hover{
  background-color: rgb(245,245,245,1.5);
}

.opponents-played{
  color: #225FBA;
}

.games-played{
  color: #225FBA;
}

.sport-name{
  text-align: justify;
}

.accordion-button{
   border: 0px;
   background-color: #fff;
}

.odd > .accordion-button{
  background-color: inherit;
}

.odd > .accordion-button:hover{
  background-color: inherit;
}

.odd > .accordion-button.collapsed::before{
  color: black !important;
  content: '▼ ';
  font-size: 16px;
}

.odd > .accordion-button[aria-expanded="true"]::before {
  color: black !important;
  content: "▲ ";
  font-size: 16px;
}

.even > .accordion-button.collapsed::before{
  color: black !important;
  content: '▼ ';
  font-size: 16px;
}

.even > .accordion-button[aria-expanded="true"]::before {
  color: black !important;
  content: "▲ ";
  font-size: 16px;
}



.athlete-statement{
   color: #EA7200 !important;
   font-weight: bolder;
}

.how-to-official{
  font-weight: normal;
}

.athlete-statement-words{
  font-weight: bold;
}

.accordion-button:focus{
  outline: none;
}

.accordion-button.collapsed::before{
  color: #007881 !important;
  content: '+ ';
}

.accordion-button[aria-expanded="true"]::before {
  color: #007881 !important;
  content: "- ";
}

.breakdown{
  font-weight: bold;
}

.spinner-position{
  position: absolute;
  top: 50%;
  left: 50%;
}
